@using Microsoft.AspNetCore.Identity
@using System.Text;
@using System.Security.Cryptography;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{

    var ApplicationUser = await UserManager.GetUserAsync(User);
    
    //// Calculate MD5 of email for Gravatar
    //using (var md5 = MD5.Create())
    //{
    //    TempData["emailMD5"] = BitConverter.ToString(md5.ComputeHash((Encoding.ASCII.GetBytes(ApplicationUser.Email.ToLower())))).Replace("-", "").ToLower();
    //}

    <div class="row">
    <div class="col-12 text-right" style="padding-right:40px;">
    <form asp-area="" asp-controller="Account" asp-action="@nameof(AccountController.Logout)" method="post" id="logoutForm" class="column">

            <a asp-area="" asp-controller="Home" asp-action="Index" style="font-size: 2rem;">
                <i class="material-icons">account_circle</i>
                Hi <span>@ApplicationUser.UserName</span>
            </a>

            <button class="btn btn-primary btn-round btn-sm" type="submit">
                <i class="material-icons">lock</i> Log Out
            <div class="ripple-container"></div></button>
            
        </form>
    </div>
        
    </div>
}