@model NoticeViewModel
@{
    ViewData["Title"] = "Message";
}
@{
    Layout = "_LayoutOther";
}


@switch (Model.NoticeType)
{
    case NoticeType.Error:
        <h2 class="card-title text-center text-danger">Something went wrong!</h2>
        break;
    case NoticeType.Warning:
        <h2 class="card-title text-center text-warning">Ooops!</h2>
        break;
    case NoticeType.Success:
        <h2 class="card-title text-center text-success">Success!</h2>
        break;
}

@if (!string.IsNullOrEmpty(Model.Title))
{
    @if (!string.IsNullOrEmpty(Model.Title))
    {
        <h4>@Model.Title</h4>
    }
    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <h5>@Model.Description</h5>
    }
}

@if (Model.ShowBackButton)
{
    <button onclick="window.history.back();" class="btn btn-primary btn-round">
        <i class="material-icons">arrow_back</i>
        Back
    </button>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-round btn-primary">
        <i class="material-icons" aria-hidden="true">home</i>&nbsp;
        Home
    </a>
}
else
{
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-round btn-primary">
        <i class="material-icons" aria-hidden="true">home</i>&nbsp;
        Home
    </a>
}